* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(/Users/mac/Downloads/stage pic.jpeg);
}

img {
    width: 40%;
    position: fixed;
    bottom: 25%;
    right: 28%;
}


